CompileFlags:
  Add: [-xc++, -std=c++17, -Wall, -Wno-missing-prototypes, -Wno-unused-function]

  Remove: -W*
  Compiler: clang++

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
